body {
  font-size: 100%;
  font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}

p {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  color: #2d2d2d;
}

/* TODO: size images manually so this is not necessary */
img {
  max-height: 20rem;
}
nav{
  background-color:blue;
}
li a, li i{
  font-weight: bold;
  color:white;
}
nav i{
  order:1;
}
nav ul{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
.item-container{
  display:flex;
  flex-wrap: wrap;
}

/***************** NAV *****************/

nav a:hover {
  text-decoration: none;
  color:red;
}
nav i:hover {
  text-decoration: none;
  color:red;
}

/**************** HERO *****************/

header img {
  max-height: 6rem;
}

h1 .logo-w {
  font-size: 3.5rem;
}
h1 span{
  color:blue;
}

/**************** ASIDE ****************/

input[type="submit"] {
  padding: .25rem;
  background-color: #3D7FCF;
  border: 1px solid #3D7FCF;
  border-radius: 5px;
  font-size: .75rem;
  color: white;
}

/*********** PRODUCTS SECTION ***********/

section {
  padding: 0 .75rem;
}

h2 {
  padding-top: 1.5rem;
  font-size: 2rem;
  text-align: center;
  color: #2d2d2d;
}

h3 {
  font-size: 1.2rem;
  text-align: center;
  color: #2d2d2d;
}
.item-box{
  border: 1px black solid;
  
}
