body {
  font-size: 100%;
  font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}

p {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  color: #2d2d2d;
}

/* TODO: size images manually so this is not necessary */
img {
  width:40%;
}


/***************** NAV *****************/
nav ul{
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
nav a:hover {
  text-decoration: none;
  color:red;
}
nav i:hover {
  text-decoration: none;
  color:red;
}
nav{
  background-color:#0066cc;
  padding:1rem 0px 0.25rem 0px;
}
li a, li i{
  font-weight: bold;
  color:white;
}

/**************** HERO *****************/

header img {
  max-height: 10rem;
  width: 85%
}

h1 .logo-w {
  font-size: 3.5rem;
}
h1 span{
  color:#0066cc;
}
/**************** ASIDE ****************/

input[type="submit"] {
  padding: .25rem;
  background-color: #3D7FCF;
  border: 1px solid #3D7FCF;
  border-radius: 5px;
  font-size: .75rem;
  color: white;
}
input[type="email"]{
  max-width:16rem;
}
aside{
  padding-top:8rem;
}

/*********** PRODUCTS SECTION ***********/

section {
  padding: 0 .75rem;
}

h2 {
  padding-top: 1.5rem;
  font-size: 2rem;
  text-align: center;
  color: #2d2d2d;
}

h3 {
  font-size: 1.2rem;
  text-align: center;
  color: #2d2d2d;
}
.item-container{
  display:flex;
  flex-wrap: wrap;
}
.item-box{
  border: 1px black solid;
}
